*{
    margin: 0;
    padding: 0;
}

.container{
    width: 980px;
    margin: 0px auto;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.bg{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    min-height: 100%;
    min-width: 1024px;	
    width: 100%;
    height: auto;
    position: fixed;
}

.leaf{
    background-color: #00d1b2;
    height: 20px;
    margin-right:10px ;
}
.imgEasybay{
    display: flex;
    align-items: center;
}
.searchbar{
    display: flex;
    align-items: center;
    border: 2px solid gray;
    border-radius: 25px;
    width: 700px; 
    height: 25px;
    margin-left: 10px;
    padding: 10px;
}
.signCart{
    display: flex;
}
.signIn{
    background-color: white;
    border: none;
    margin-right: 20px;
}
.cart{
    height: 30px;
    cursor: pointer;
}
.heading{
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top:20px ;
    margin-bottom: 20px;
}
.plantList{
    display: flex;
    text-decoration: underline;
    
}
.list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 10px;
    
}

.leaf{
    background-color: #00d1b2;
    height: 20px;
    margin-right:10px ;
}

.bar{
    border: 2px solid black;
    margin-top: 2px;
}

.sports{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

td,th,a,h2{
    color: white;
}
